name: Test
on: [ push ]
jobs:
  unit-tests:
    runs-on: macos-latest
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '^1.19'
          check-latest: true
      - run: go test -v -race ./...